@font-face {
    font-family: 'Verdana';
    src: url('Verdana.eot');
    src: local('Verdana'),
    url('Verdana.eot?#iefix') format('embedded-opentype'),
    url('Verdana.woff') format('woff'),
    url('Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Verdana',  sans-serif;
    margin: 0 auto;
    width: 1900px;
}

.header {
    background-image: url("../image/img_header.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 483px;
}

.headerImage {
    width: 1900px;
    height: 483px;
}

.flex-container {
    display: flex;
}

.box {
    text-align: center;
    height:50px;
    background-color: #1d2124;
    font-size: 15px;
    color: white;
    padding-top: 25px;
}

.box-1 {
    width:66px;
    background-color: #1a1d20;
    padding: 25px 25px 0 25px;
}

.box-9 {
    width:66px;
    background-color: #1a1d20;
    padding: 25px 25px 0 25px;
}

.box.box-2 {
    font-size: 22px;
    text-align: left;
    width: 50%;
}

.box.box-3  {
    width: 10%;
    align-self: start;
}

.box.box-4 {
    width: 30%;
}

.box.box-5 {
    width: 30% ;
}

.box.box-6 {
    width: 20% ;
}

.box.box-7 {
    width: 15% ;
}

.box.box-8 {
    width: 15% ;
    padding-right: 400px;
}

.p1 {
    text-align: center;
    font-size: 27px;
    color: white;
    margin-top: 127px;
}

.btn1 {
    width: 170px;
    height: 40px;
    background-color: #89ca62;
    border-radius: 5px;
    display: inline-block;
    margin-left: 754px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}

.btn2 {
    width: 170px;
    height: 40px;
    background-color: #14b9d5;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    margin-left: 20px;
}

.mainPart {
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 70px;
}

p {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    margin: 60px 0;

}

.image-container {
    display: flex;
    width: 1170px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 360px;
    justify-content: space-between;
    align-items: flex-start;
}
.im1, .im4 {
    height: 259px;
    width: 370px;
}

.im2, .im6 {
    height: 380px;
    width: 370px;
}

.im3 {
    height: 290px;
    width: 370px;
}

.im5 {
    height: 259px;
    width: 247px;
}

.imagebox {
     background-color: #f2f2f2;
     margin: 0 11px;
 }

.i1, .i2, .i3, .i4, .i5, .i6 {
    width: 370px;
    height: 45px;
    margin-top: 0;
    padding-top: 15px;
    background-color: white;
    color: #353a3d;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
}

.part1 {
    display: flex;
    align-items:flex-start;
}

.part2 {
    display: flex;
    align-items: flex-start;
 }

.item-4 {
    align-self: flex-start;
    margin-top: -90px;
}

.item-5 {
    align-self: start;
    margin-top: 30px;
}

.item-6 {
    align-self: center;
    margin-top: -60px;
}

.gridPart1 {
    background-image: url("../image/img_parallax.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.gridBox1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}

.item1 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.item2 {
    height: 28px ;
    width: 207px;
}

.item3 {
    height: 49px ;
    width: 135px;
}

.item4 {
    height: 42px ;
    width: 172px;
}

.item5 {
    height: 52px ;
    width: 141px;
}

hr {
    width:  60px;
    height: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: center;
    color: #301ab8;
}

.gridBox2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 60px;
}

.gridBox3 {
    width: 1170px;
    margin-left: 360px;
    margin-bottom: 60px;
}

.gb1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: flex-end;
    margin-bottom: 40px;
}

.gb2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;
    row-gap: 40px;
    margin-bottom: 40px;
    column-gap: 60px;
}

.gb3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
}

.itm1 {
    width: 483px;
    height: 259px;
}

.itm2, .itm10 {
    width: 320px;
    height: 179px;
    background-color: #f9f7f7;
    text-align: right;
    padding: 42px 24px 37px 24px;
    font-size: 14px;
    color: #5b6469;
    letter-spacing: 1px;
}

.itm3 {
    width: 277px;
    height: 210px;
}

.title, .title8 {
    font-size: 18px;
    text-align: right;
    padding-bottom: 20px;
    color: #353a3d;
    font-weight: bolder;
}

.title2 {
    width: 277px;
    height: 35px;
    margin-top: 0;
    padding-top: 10px;
    background-color: #f9f7f7;
    color: #353a3d;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

.title3, .title4, .title5, .title6  {
    font-size: 18px;
    text-align:right;
    width: 534px;
    height: 40px;
    padding-top: 15px;
    padding-right: 15px;
    color: #353a3d;
    font-weight: bolder;
}

.itm4, .itm5, .itm6, .itm7 {
    background-color: #f9f7f7;
    width: 554px;
    height: 459px;
    text-align: right;
    font-size: 14px;
    color: #5b6469;
    letter-spacing: 1px;
}

.text2, .text3, .text4, .text5 {
    text-align: right;
    padding: 0 24px 37px 24px;
}

.itm7 {
    background-color: #f9f7f7;
    width: 554px;
    text-align: right;
    font-size: 14px;
    color: #5b6469;
    letter-spacing: 1px;
}

.itm8 {
    color: #353a3d;
    font-size: 18px;
    font-weight: bolder;
    height: 210px;
    width: 277px;
}

.itm9 {
    height: 259px;
    width: 483px;
}

.title7 {
    text-align: center;
    width: 277px;
    margin: 0;
    padding: 10px 0 15px 0;
    background-color: #f9f7f7;
}

.gridBox4 {
    display: grid;
    height: 25px;
    padding: 28px 0 28px 0;
    justify-items: flex-end;
    background-color: #1d2124;
    grid-template-columns: 830px 630px;
    color: white;
    grid-template-areas:"ft1 ft2 ft3"
}

.ft1 {
    font-size: 13px;
}

.ft2 {
    height: 24px;
    width:38px;
}
.ft3 {
    padding-right: 400px;
    height: 16px;
    width: 64px;
}
